* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 20px;
    color: #000;
    transition: background-color .5s ease-in-out;
}

.body-white {
    background-color: #fff;
}

/* start display */
.start-block__logo {
    width: 5.5em;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    margin-bottom: 30px;
    font-size: 120px;
    font-weight: 800;
    border-right: 2px solid #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.start-block__descr {
    width: 20.6em;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    margin-bottom: 50px;
    font-size: 30px;
    border-right: 2px solid #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.start-block__btn {
    padding: 30px 50px;
    border: none;
    cursor: pointer;
    background-color: #000;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 40px;
    color: #fff;
    opacity: none;
    visibility: hidden;
}

.start-block__btn:hover {
    background-color: #333;
}

.start-block__btn:active {
    background-color: #444;
}

/* settings display */
.settings {
    position: relative;
    padding: 70px 50px 100px 50px;
    background-color: #000;
    text-align: center;
    font-size: 30px;
    line-height: 160%;
    color: #fff;
}

.settings__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 70px;
    color: #fff;
}

.settings__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.settings__input {
    width: 2em;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    text-align: center;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 30px;
    color: #fff;
}

.settings__input:focus {
    outline: none;
    background-color: #333;
}

.settings__input:hover {
    background-color: #666;
}

.settings__timer_input {
    width: 3em;
}

.settings__btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.settings__btn:focus {
    outline: none;
    background-color: #555;
}

.settings__btn:hover {
    background-color: #666;
}

.settings__btn:active {
    background-color: #333;
}

/* timer */
.timer {
    position: absolute;
    top: 15px;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transform: translateX(-50%);
    transition: opacity .5s ease-in-out;
}

.timer__span {
    display: block;
    margin-bottom: 10px;
}

.timer__span_color {
    color: crimson;
}

.timer__best {
    display: block;
    font-size: 14px;
}

/* cards */
.cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 500px;
    /* height: 500px; */
    /* background-color: #999; */
}

.cards-4 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.cards-36 {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.cards-64 {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.cards-100 {
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: crimson;
    border: 1px solid crimson;
    font-size: 80px;
    color: transparent;
    transform: rotateY(180deg);
    transition: transform .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.card-36 {
    font-size: 30px;
}

.card-64 {
    padding: 5px;
    font-size: 20px;
}

.card-100 {
    padding: 5px;
    font-size: 20px;
}

.card:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.card-open {
    transform: none;
    background-color: #fff;
    color: crimson;
}

/* result */
.result {
    position: absolute;
    width: 600px;
    height: 600px;
    padding: 70px 50px 100px 50px;
    background-color: #000;
    text-align: center;
    font-size: 30px;
    line-height: 160%;
    color: #fff;
}

.result__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 70px;
    color: #fff;
}

.result__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.result__btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.result__btn:focus {
    outline: none;
    background-color: #555;
}

.result__btn:hover {
    background-color: #666;
}

.result__btn:active {
    background-color: #333;
}

.result__clear-btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.result__clear-btn:focus {
    outline: none;
    background-color: #555;
}

.result__clear-btn:hover {
    background-color: #666;
}

.result__clear-btn:active {
    background-color: #333;
}

/* game over */
.game-over {
    position: absolute;
    width: 600px;
    height: 600px;
    padding: 70px 50px 100px 50px;
    background-color: #000;
    text-align: center;
    font-size: 30px;
    line-height: 160%;
    color: #fff;
}

.game-over__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 70px;
    color: #fff;
}

.game-over__btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.game-over__btn:focus {
    outline: none;
    background-color: #555;
}

.game-over__btn:hover {
    background-color: #666;
}

.game-over__btn:active {
    background-color: #333;
}

/* visibility */
.visible {
    opacity: 1;
    visibility: visible;
}

/* .timer-visible {
    transform: translateX(-50%);
} */

.border-none {
    border: none;
}

.display-none {
    display: none;
}

/* animations */
.typewriter-logo {
    animation: typewriterLogo 1s steps(9) 1s 1 normal both,
               blinkTextCursor 600ms steps(9) infinite normal;
}

.typewriter-start-descr {
    animation: typewriterStartDescr 3s steps(34) 0s 1 normal both,
               blinkTextCursor 600ms steps(9) infinite normal;
}

@keyframes typewriterLogo {
    from {
        width: 0;
    }
    to {
        width: 5.5em;
    }
}

@keyframes typewriterStartDescr {
    from {
        width: 0;
    }
    to {
        width: 20.6em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #000;
    }
    to {
        border-right-color: transparent;
    }
}